*{
    margin: 0;
    padding: 0;
}



.navbar a img{
    height: 70px;
    width: 200px;
}

.wrapper {
    background-color: rgb(238, 253, 253); 
    padding: 20px; 
}

.container{
    height: 500px;
    margin-top: 0px;
}

.custom-menu a {
    font-size: 18px;
    font-weight: bold;
}

.custom-link{
   
    background-color: green;
    border-radius: 20px;
    padding: 5px 20px;
   
}

.font-color{
    color: green;
}

.custom-image{
    height: 300px;
    width: 500px;
}

.custom-container{
    margin-top: 50px;
}

/* Navbar closed */

/* Started with middle part */
.card-body{
    background-color: rgb(227, 252, 252);
}


.card-body img{
    height: 100px;
    width: 100px;
    margin-left:50px; 
}

.card-title{
    margin-top: 20px;
}

.box-shadow{
    
    box-shadow: 2px 20px 5px 15px whitesmoke;
    background-color: white;
}


      
    
    
