*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

.navbar a img{
    height: 70px;
    width: 200px;
}

.wrapper {
    background-color: rgb(238, 253, 253); 
    height: 500px;
    padding: 20px; 
    
}

.container{
    /* height: 400px; */
    margin-top:10px;
    margin-bottom: 70px;
}

.custom-menu a {
    font-size: 18px;
    font-weight: bold;
}

.custom-link{
   
    background-color: green;
    border-radius: 20px;
    padding: 5px 20px;
   
}

.font-color{
    color: green;
}

.custom-image{
    height: 300px;
    width: 500px;
}

.custom-container{
    margin-top: 50px;
}

/* Navbar closed */

/* Started with middle part */
.card-body{
    background-color: white;
   
}


.card-body img{
    height: 100px;
    width: 100px;
    margin-left:50px; 
}

.card-title{
    margin-top: 20px;
}

.box-shadow{
    
    box-shadow: 2px 20px 5px 15px whitesmoke;
    background-color: white;
   
}

.course{
    display: flex;
    margin-left: 0;
    margin-top: 30px;
}

.course img{

    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 0;
}
.course h6{
    margin: 30px;
    margin-left: 0; 
}
      
.course-card{
    margin: 20px;
    padding: 10px;
    box-shadow:  2px 20px 5px 15px whitesmoke;
    background-color: white;
    border-radius: 10px;
    
   
}    
    
